@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-page="./Index">Профіль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./ChangePassword">Змінити пароль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="OrderHistory">Історія замовлень</a>
        </li>
    </ul>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
